{include file="header.html"}
<div id="page_main" class="main-right">
  <div id="rightTop">
    <p>{$lang.weixin_menu}</p>
    <ul class="subnav">
      <li><span>{$lang.menus_list}</span></li>
      <li><a class="btn1" href="{url route='weixin/add'}">{$lang.add}</a></li>
    </ul>
  </div>
  <div class="explanation" id="explanation">
    <div class="title" id="checkZoom"> <i class="fa fa-lightbulb-o"></i>
      <h4 title="{$lang.operation_tip}">{$lang.operation_tip}</h4>
    </div>
    <ul>
      <li><i class="fa fa-angle-double-right"></i> {$lang.wxmenu_desc_1}</li>
      <li><i class="fa fa-angle-double-right"></i> {$lang.wxmenu_desc_2}</li>
    </ul>
  </div>
  <div class="info2 flexigrid">
    <table class="distinction">
      <!--{if $menus}-->
      <thead>
        <tr class="tatr1">
          <th class="w30"><input id="checkall_1" type="checkbox" class="checkall" /></th>
          <th width="300"><span class="all_checkbox">
            <label for="checkall_1">{$lang.checkall}</label>
            </span>{$lang.menu_name} </th>
          <th width="100">{$lang.menu_type}</th>
          <th>{$lang.menu_value}</th>
          <th>{$lang.sort_order}</th>
          <th class="handler">{$lang.handler}</th>
        </tr>
      </thead>
      <!--{/if}--> 
      <!-- {if $menus} -->
      <tbody id="treet1">
        <!-- {/if} --> 
        <!--{foreach from=$menus item=menu}-->
        <tr>
          <td class="align_center w30"><input type="checkbox" class="checkitem" value="{$menu.id}" /></td>
          <td class="node"><!--{if $menu.switchs}--><i class="tv-expandable" ectype="flex" controller="weixin" status="open" fieldid="{$menu.id}"></i><!--{else}--><i class="tv-item"></i><!--{/if}--><span class="node_name editable" ectype="inline_edit" fieldname="name" fieldid="{$menu.id}" required="1" title="{$lang.editable}" controller="weixin" >{$menu.name|escape}</span></td>
          <td class="align_center"><span>{if $menu.type eq 'view'}{$lang.to_url}{else}{$lang.send_msg}{/if}</span></td>
          <td class="align_center">{if $menu.type eq 'view'}{$menu.link|default:'-'}{else}-{/if}</td>
          <td class="align_center"><span class="editable" ectype="inline_edit" fieldname="sort_order" fieldid="{$menu.id}" datatype="number" title="{$lang.editable}" controller="weixin" >{$menu.sort_order}</span></td>
          <td class="handler bDiv" style=" background:none; width:230px; text-align:left;"><a href="{url route='weixin/edit' id=$menu.id}" class="btn blue"><i class="fa fa-pencil-square-o"></i>{$lang.edit}</a> <a uri="{url route='weixin/delete' id=$menu.id}" confirm="{$lang.drop_confirm}" class="btn red J_AjaxRequest"><i class="fa fa-trash-o"></i>{$lang.drop}</a> 
            <!--{if $menu.parent_id eq 0}--> 
            <a href="{url route='weixin/add' pid=$menu.id}" class="btn green"><i class="fa fa-plus"></i>{$lang.add_child}</a> 
            <!--{/if}--></td>
        </tr>
        <!--{foreachelse}-->
        <tr class="no_data">
          <td colspan="6">{$lang.no_data}</td>
        </tr>
        <!--{/foreach}--> 
        <!-- {if $menus} -->
      </tbody>
      <!-- {/if} -->
      <tfoot>
        <tr class="tr_pt10"> 
          <!-- {if $menus} -->
          <td class="align_center"><input id="checkall_2" type="checkbox" class="checkall"></td>
          <td colspan="5" id="batchAction"><span class="all_checkbox mt5">
            <label for="checkall_2">{$lang.checkall}</label>
            </span>
            <div class="fbutton J_BatchDel" style="border:0;" confirm="{$lang.drop_confirm}" uri="{url route='weixin/delete'}" name="id">
              <div class="del" title="{$lang.batch_del_for_selected}"><span><i class="fa fa-trash"></i>{$lang.batch_del}</span></div>
            </div>
            <div class="fbutton" style="border:0;">
              <div class="add"><span><i class="fa fa-trash"></i> <a uri="{url route='weixin/createmenu'}" class="J_AjaxRequest">{$lang.createmenu}</a> </span></div>
            </div></td>
          <!--{/if}--> 
        </tr>
      </tfoot>
    </table>
  </div>
</div>
{include file="footer.html"}