{include file="header.html"}
<div id="page_main" class="main-right">
  <div id="rightTop">
    <p>{$lang.weixin_applet}</p>
    <ul class="subnav">
      <li><span>{$lang.manage}</span></li>
    </ul>
  </div>
  <div class="info">
    <form method="post">
      <table class="infoTable">
        <tr>
          <th class="paddingT15"> {$lang.appletname}:</th>
          <td class="paddingT15 wordSpacing5"><input class="infoTableInput" type="text" name="name" value="{$weixin.name|escape}" /></td>
        </tr>
        <tr>
          <th class="paddingT15"> {$lang.appid}:</th>
          <td class="paddingT15 wordSpacing5"><input class="infoTableInput" id="appid" type="text" name="appid" value="{$weixin.appid|escape}" />
            <label class="field_notice">{$lang.appid_desc}</label></td>
        </tr>
        <tr>
          <th class="paddingT15"> {$lang.appsecret}:</th>
          <td class="paddingT15 wordSpacing5"><input class="infoTableInput" name="appsecret" type="text" id="appsecret" value="{$weixin.appsecret|escape}"  />
            <label class="field_notice">{$lang.appsecret_desc}</label></td>
        </tr>
        
        <tr>
          <th></th>
          <td class="ptb20"><input class="formbtn J_AjaxSubmit" type="submit" value="{$lang.submit}" /></td>
        </tr>
      </table>
    </form>
  </div>
</div>
{include file="footer.html"}