{include file="user.header.html"}
<div id="main" class="w-full">
  <div class="page-apply">
    <div class="w content clearfix bgf">
      <div class="title">&nbsp;</div>
      <div class="apply-status">
        <p class="clearfix"><i class="block auto mb20"></i>
        <h3 class="mt10 auto center" style="width:500px;">
          <!--{if $store.state eq 3}-->
          审核结果：{$store.apply_remark}
          <a href="{url route='apply/fill' id=$store.store_id}" class="f60">立即修改</a>
          <!--{else}-->
          {$lang.apply_remark}
          <!--{/if}-->
        </h3>
        </p>
      </div>
    </div>
  </div>
</div>
{include file="user.footer.html"}