<style>
  .eject_con {
    font-size: 13px;
  }

  .eject_con dt {
    margin: 8px 0 0 80px;
  }
</style>
<div class="eject_con">
  <div class="add">
    <div id="warning"></div>
    <form method="post" action="{$action}" target="iframe">
      <dl class="clearfix">
        <dt class="float-left">转账金额：</dt>
        <dd class="float-left"><span class="block price red" style="margin-top: 10px;">{$transfer.money|price_format}</span></dd>
      </dl>
      <!--{if $transfer.fee gt 0}-->
      <dl class="clearfix">
        <dt class="float-left">手<s style="margin:0 6px;">续</s>费：</dt>
        <dd class="float-left"><span class="block price red" style="margin-top: 10px;">{$transfer.fee|price_format}</span></dd>
      </dl>
      <!--{/if}--> 
      <dl class="clearfix mb20 mt20">
        <dt class="float-left">支付密码：</dt>
        <dd class="float-left">
          <input type="password" name="password" class="text" value="" />
        </dd>
      </dl>
      <dl class="clearfix mb20">
        <dt class="float-left">验<s style="margin: 0 7px;">证</s>码：</dt>
        <dd class="float-left captcha">
          <input type="text" name="captcha" class="text" id="captcha1" />
          <a href="javascript:;"><img onclick="change_captcha($(this))" id="captcha"
              src="{url route='default/captcha' v=uniqid('', true)}" height="38" /></a>
        </dd>
      </dl>
      <div class="submit mt20">
        <input type="hidden" name="redirect" value="{$redirect}" />
        <!--{foreach from=$params item=item key=key}-->
        <input type="hidden" name="{$key}" value="{$item}" />
        <!--{/foreach}-->
        <input type="submit" class="btn" value="{$lang.submit}" />
      </div>
    </form>
  </div>
</div>
