{include file="user.header.html"}
<div id="main" class="clearfix"> {include file="user.menu.html"}
  <div id="right"> {include file="user.curlocal.html"}
    <div class="wrapful">{include file="user.submenu.html"}
      <div class="wrap">
        <div class="public table deposit">
          <div class="deposit-withdraw"> 
            <!--{if $deposit_account.money gt 0}-->
            <div class="notice-word mb20">
              <p class="yellow">将您的账户余额转出到另外的预存款账户上，请慎重填写</p>
            </div>
            <form method="post">
              <div class="title clearfix">
                <h2 class="float-left">您的账户（{$deposit_account.account}）</h2>
                <p class="float-left">余额：<strong>{$deposit_account.money}</strong> 元</p>
              </div>
              <div class="form">
                <dl class="clearfix">
                  <dt>转入账户：</dt>
                  <dd>
                    <input type="text" class="text" name="account" />
                  </dd>
                </dl>
                <dl class="clearfix">
                  <dt>转账金额：</dt>
                  <dd>
                    <input type="text" name="money" class="text" value="" />
                    元</dd>
                </dl>
                <dl class="clearfix">
                  <dt>&nbsp;</dt>
                  <dd class="submit">
                    <input class="btn-alipay" type="submit" value="下一步" />
                  </dd>
                </dl>
              </div>
            </form>
            <!--{else}-->
            <div class="notice-word">
              <p>您目前账户余额为<span class="f60">0</span>元，不能转账。</p>
            </div>
            <!--{/if}--> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function(){
    $('form').submit(function () {
      if ($(this).find('input[name="account"]').val() == '') {
        layer.msg(lang.select_account_not_exist);
        return false;
      }
      if ($(this).find('input[name="money"]').val() == '' || $(this).find('input[name="money"]').val() <= 0) {
        layer.msg(lang.money_error);
        return false;
      }
      ajax_form('deposit_transferconfirm', '转账确认', url(['deposit/transferconfirm', $.extend($('form').serializeJson(), { title: '转账确认' })]), '500', '', '0.45');
      return false;
    });
  });
</script>
<iframe id="iframe" name="iframe" src="about:blank" frameborder="0" width="0" height="0" style="display:none"></iframe>
{include file="user.footer.html"} 