
/************** global.css - No need to modify ***************************************************/

body{font-size:12px; margin:0;padding:0;/*font-family:'simsun','arial';*/ font:Arial,Verdana,"\5b8b\4f53"; min-width: 1200px;}
em,p,ul,dl,dt,dd,ins,h1,h2,h3,h4,form,ins,i,s{margin:0;padding:0; font-weight:normal; font-style:normal;text-decoration:none;}
h1,h2,h3,h4{font-size:12px;}
ins{text-decoration:none;}
em{font-style:normal;}
ul,ol{ list-style:none;}
input,select{ vertical-align:middle;}
input,button,select,textarea{outline:none} 
textarea{resize:none}
img{border:0;}
a{text-decoration:none;blr:expression(this.onFocus=this.blur());outline:none; font-style:normal}
input, button, select, textarea{outline: none;background-color:transparent;filter: none !important;}
input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px white inset;box-shadow: 0 0 0px 100px white inset;}

.w-full{width:100%;}
.w-mall,.w,.w-shop,.w-user{margin:0 auto;}
.col-sub,.col-main{float:left;}
.col-bottom{ clear:both}
.clearfix:after{ content:'\20'; display:block; overflow:hidden; height:0; clear:both;}
.clear,.clr{clear:both; overflow:hidden;width:0;margin:0;padding:0; height:0; line-height:0; font-size:0;}
.clearboth{ clear:both;}
.hidden{ display:none}
.overflowHidden{ overflow:hidden;}
.float-left{float:left;}
.float-right{float:right;}
.relative{position:relative;}
.absolute{position:absolute;}
.inline-block{ display:inline-block;}
.block{ display:block}
.pointer{ cursor:pointer}

/* margin,padding */
.margin5{margin:5px;}
.margin10{margin:10px;}
.mt5{margin-top:5px;}
.mr5{margin-right:5px;}
.mb5{margin-bottom:5px;}
.ml5{margin-left:5px;}
.mt10{margin-top:10px;}
.mr10{margin-right:10px;}
.mb10{margin-bottom:10px;}
.ml10{margin-left:10px;}
.mt20{margin-top:20px;}
.mr20{margin-right:20px;}
.mb20{margin-bottom:20px;}
.ml20{margin-left:20px;}
.pt5{padding-top:5px;}
.pr5{padding-right:5px;}
.pb5{padding-bottom:5px;}
.pl5{padding-left:5px;}
.pt10{padding-top:10px;}
.pr10{padding-right:10px;}
.pb10{padding-bottom:10px;}
.pl10{padding-left:10px;}
.pt20{padding-top:20px;}
.pr20{padding-right:20px;}
.pb20{padding-bottom:20px;}
.pl20{padding-left:20px;}
.padding5{padding:5px;}
.padding10{padding:10px;}

/* text,color */
.fff{color:#fff;}
.f60{color:#ff6600;}
.f66{color:#666;}
.ddd{color:#ddd;}
.yahei{font-family:"Microsoft yahei";}

.fs18{font-size:18px}
.fs16{font-size:16px}
.fs14{font-size:14px}
.fs12{ font-size:12px;}

.strong{font-weight:bold;}
.center{ text-align:center}

/* border */
.border{border:1px #ddd solid}
.border-t-0{border-top:0;}
.border-b-0{border-bottom:0;}
.border-r-0{border-right:0;}
.border-b{border-bottom:1px #ddd solid}
.border-t{border-top:1px #ddd solid}

/* global banner */
.global-image-ads{ position:relative;}
.global-image-ads .global-image-ads-content{text-align:center; margin:0 auto}
.global-image-ads .global-image-ads-botton{position:absolute;right:0px;top:0px; height:18px; width:18px; text-align:center; background: #fff; color:#444; line-height:18px; cursor:pointer; font-size:18px;margin:0;paddding:0; font-weight:lighter}
.global-image-ads img {margin: 0 auto;}

.img-clone{position:absolute;z-index:99999;width:55px;height:55px;border:3px solid #E4393C;}

/**************  global end  ***************************************************/






/************** common.css - Modified according to the situation ***************************************************/

a{color:#666;}
a:hover{color: #f33100;text-decoration: underline;}

img.lazyload{background:#fff url(../images/loading.gif) center  center no-repeat;}

.w-mall,.w{width:1200px;}
.w-shop{}
.w-user{}

/* pagination */
.pagination {
  float: right;
  display: block;
  padding-left: 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 14px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


/* buyer_order.evaluate.html and cart.index.html ... use it */
.step{width:100%;background:url(../images/step.png) 0 0; height:23px; line-height:23px;color:#666; overflow:hidden}
.step1000{ background:url(../images/step1000.png);}
.step2{ background-position:0 -23px}
.step3{ background-position:0 -47px;}
.step4{ background-position:0 -71px;}
.step5{ background-position:0 -95px;}
.step span{float:left;width:20%; text-align:center; display:block;}

/* common notice */
.notice-word p{background:url(../images/member/T1CqmcXllwXXXXXXXX-64-1800.png) 3px -145px no-repeat #E5F5FF;border:1px #40B3FF solid;padding:0 5px 0 25px; line-height:25px;margin-bottom:20px; text-align:left;color:#3e3e3e;}
.notice-word p a{color:#0071BB; text-decoration:none}
.notice-word p a:hover{color:#f60; text-decoration:underline;}

.notice-word .blue-big{ background-position:10px -490px;  padding:17px 10px 17px 56px; font-size:14px;line-height:22px;}
.notice-word .yellow{border:1px #FFCC7F solid; background-color:#FFFFE5; background-position:3px -196px;}
.notice-word .yellow-big{border:1px #FFCC7F solid; background-color:#FFFFE5; background-position:10px -690px; color:#404040;padding:17px 10px 17px 56px; font-size:14px;line-height:22px;}
.notice-word b{color:red;}
.notice-word .price{color:#f60; font-weight:bold; font-family:Arial, Helvetica, sans-serif}
.notice-word .correct{ background-position:3px -246px;}
.notice-word .correct-nobg{border:0;background:url(../images/member/T1CqmcXllwXXXXXXXX-64-1800.png) 3px -246px no-repeat #fff}

/* empty */
.notice-empty{text-align: center; margin:0 auto;padding:50px 0; text-align:center; vertical-align:middle}
.notice-empty i{display:block; text-align:center; color:#999;width: 200px;height:130px; margin: 0 auto;background: url(../images/no_record.png) center center; background-size: 100% 100%;}
.notice-empty p{ color:#999;margin-top:20px; font-size: 12px; font-size: 16px;}
.notice-empty .btn{ border:1px #ddd solid; padding:5px 10px; color:#222; border-radius:3px; display:inline-block; font-size:14px}

/* input ui for checkbox yes or no */
.switch-checkbox-radio .switcher-style{position: relative;width: 50px;height:27px;border: 1px solid #dfdfdf;outline: 0;border-radius: 16px;box-sizing: border-box;background: #dfdfdf;background-color: #dfdfdf;-webkit-transition: background-color .1s,border .1s;transition: background-color .1s,border .1s;display: block;}
.switch-checkbox-radio .switcher-style:before,.switch-checkbox-radio .switcher-style:after{content: " ";position: absolute;top: 0;left: 0;height:25px;border-radius:13px;-webkit-transition: -webkit-transform .3s;}
.switch-checkbox-radio .switcher-style:after {width:25px;background-color: #fff;transition: -webkit-transform .3s;transition: transform .3s;transition: transform .3s,-webkit-transform .3s;box-shadow: 0 1px 3px rgba(0,0,0,.4);-webkit-transition: -webkit-transform .35s cubic-bezier(.4,.4,.25,1.35);transition: -webkit-transform .35s cubic-bezier(.4,.4,.25,1.35);transition: transform .35s cubic-bezier(.4,.4,.25,1.35);transition: transform .35s cubic-bezier(.4,.4,.25,1.35),-webkit-transform .35s cubic-bezier(.4,.4,.25,1.35);}
.switch-checkbox-radio.checked .switcher-style:after{webkit-transform: translateX(25px);transform: translateX(25px);}
.switch-checkbox-radio.checked .switcher-style{border-color: #f50;background-color: #f50;}


/* captcha.form.html */
.captcha-form .tab li {	border-bottom: 0;	float: left; background: #ddd;	line-height: 35px;	height: 35px;	width: 50%;	text-align: center;	cursor: pointer;}
.captcha-form .tab li.active {	background: #fff}
.captcha-form .captcha-fields{ line-height:40px;}
.captcha-form .captcha-fields p {	float:left;}
.captcha-form .captcha-fields p.first{width:80px;}
.captcha-form .captcha-fields .width_short{width:80px; border-radius:0;}
.captcha-form .captcha-fields .btn-sendcode{ background:#09F; border:0; color:#fff; height:30px; line-height:30px; padding:0 10px; cursor:pointer}
.captcha-form .btn-submit{background:#f60;margin-left:80px; border-radius:4px; color:#fff;border:0;padding: 8px 22px 8px 22px; display:inline-block; cursor:pointer}

/* webuploader compress css rewrite */
.filePicker{width:100%; height:100%; background:none; position:absolute; left:0; top:0; font-size:0; z-index:100}
.filePicker input[type="file"]{opacity: 0;}
.filePicker .webuploader-pick{ display:block; padding:0; width:100%; height:100%; font-size:0;}

/* receive coupon */
.coupons-pop-layer .scroll{ max-height:400px; overflow-y:scroll;}
.coupons-pop-layer .wraper li{ background:#FC0; margin:10px;margin-bottom:10px; padding:10px; color:#fff; border-radius:2px;border-left:2px #fff dotted;border-right:2px #fff dotted;}
.coupons-pop-layer .wraper li .lp{text-align:left; float:left;}
.coupons-pop-layer .wraper li .rp{padding:0 10px 0 20px;  border-left:1px #fff dotted; height:66px;  float:right}
.coupons-pop-layer .wraper li .rp a{ color:#fff; display:block; margin-top:25px; text-decoration:none}


/* site-nav */
#site-nav{ background:#F1F1F1; font: 12px/150% Arial,Verdana,"\5b8b\4f53"}
#site-nav .shoptop{ height:26px;padding-top:2px;padding-bottom:2px; line-height:26px; position:relative; z-index:997; vertical-align:baseline}
#site-nav .login_info{float:left;line-height:26px;margin-top:-1px;}
#site-nav .login_info a{margin-right:5px;}
#site-nav .login_info a span{color:#0092D2;}
#site-nav .login_info a:hover{color:#0092D2; text-decoration:underline}

#site-nav .quick-menu { position:absolute;top:0px; right:0;}
#site-nav .quick-menu li {float:left; margin-left:-1px;padding-bottom:0px;background:url(../images/T1CCRNXmRFXXXXXXXX.png) no-repeat right 9px; position:relative;padding:0 2px;}
#site-nav .quick-menu li.home,
#site-nav .quick-menu li.service{padding-left:10px;padding-right:10px;}
#site-nav .quick-menu li.service a{line-height:24px;}

#site-nav .menu-hd { position:relative; display:block;_display:inline-block;padding-bottom:0px;padding-left:10px;padding-right:22px;padding-top:1px; height:27px;line-height:27px; margin:0px 1px 0px; cursor:pointer; z-index:901;}
#site-nav .sites .menu-hd{width:48px; cursor:default;color:#666;}
#site-nav .mytb .menu-hd {width: 48px}
#site-nav .favorite .menu-hd {width: 36px}

#site-nav .menu-hd b{background:url(../images/down.png) no-repeat center center; background-size:90%; top:3px;right:0;overflow:hidden;display:block;position:absolute; width:20px; height:20px;}

#site-nav .menu-bd {z-index: 900; border-bottom: #bfbfbf 1px solid; position: absolute; border-left: #bfbfbf 1px solid; display: none; background: #fff; border-top: #bfbfbf 1px solid; top:27px; right: 0px; border-right: #bfbfbf 1px solid}

#site-nav .menu-bd-panel {padding-bottom: 6px; padding-left: 10px; padding-right: 10px; padding-top: 10px}
#site-nav .menu {position: relative}

#site-nav .hover .menu-hd {border-bottom: medium none; border-left: #bfbfbf 1px solid; margin: 0px 0px 0px; background: white; border-right: #bfbfbf 1px solid}
#site-nav .hover .menu-hd b,
#site-nav .hover .mini-cart b{top:3px;transform:rotate(180deg);-webkit-transform:rotate(180deg)}
#site-nav .hover .sites .menu-hd{color:#666;}

#site-nav .quick-menu .mini-cart a.ac{position:relative;display:block;border: #d8d8d8 1px solid; line-height:17px;margin-top:3px;padding-left:25px;padding-right:6px;padding-top:0;width:76px; height:17px; background: #fff;}
#site-nav .item:hover .mini-cart a.ac,
#site-nav .hover .mini-cart a.ac{border-bottom:medium none; z-index:901;}
#site-nav .quick-menu .mini-cart .mini-cart-hd{ color:#3E3E3E; font-weight:bold; margin:10px 0;}
#site-nav .quick-menu .mini-cart .mini-cart-each{height:45px}
#site-nav .quick-menu .mini-cart .mini-cart-img { display: inline-block; float: left;  height: 40px;    margin-right: 10px;    overflow: hidden;text-align: center;width: 40px;}
#site-nav .quick-menu .mini-cart .mini-cart-title { float:left; line-height: 20px; width:190px; height:40px;overflow: hidden;}
#site-nav .quick-menu .mini-cart .mini-cart-bt{float:left;border-top:1px solid #F2F2F2; margin-top:10px; text-align:center}
#site-nav .quick-menu .mini-cart .mini-cart-bt a { background:url(../images/T1lxl1XcNGXXXXXXXX-113-50.png); background-color: white; background-position: 0 0;border: medium none;color: white;display: inline-block;height: 20px; line-height: 19px;padding: 0; text-align: center;width: 113px;}
#site-nav .quick-menu .mini-cart .mini-cart-bt a:hover{ color:#fff;}
#site-nav .quick-menu .mini-cart .price-admin{ float:right; text-align:right}
#site-nav .quick-menu .mini-cart .mini-cart-del a{ color:#0092D2;}
#site-nav .quick-menu .mini-cart .mini-cart-del a:hover{ text-decoration:underline; color:#0092D2;}
#site-nav .quick-menu .mini-cart .mini-cart-empty{margin-right:30px;color:#999}

#site-nav .mytb .menu-bd {line-height: 1.7; width:94px;height: 75px}
#site-nav .favorite .menu-bd {line-height: 1.7; width:82px;height: 57px}

#site-nav .mytb .menu-bd-panel {padding-bottom: 8px; padding-left: 10px; padding-right: 10px; padding-top: 8px}
#site-nav .favorite .menu-bd-panel {padding-bottom: 8px; padding-left: 10px; padding-right: 10px; padding-top: 8px}

#site-nav .quick-menu .mini-cart s{ position:absolute;width:14px; height:11px;top:2px;left:6px;background:url(../images/T1CCRNXmRFXXXXXXXX.png) no-repeat -100px -20px;}
#site-nav .quick-menu .mini-cart a:hover{color:#f50;}
#site-nav .quick-menu .mini-cart strong{color: #f50;padding:0 2px 0 2px;}
#site-nav .quick-menu .mini-cart .menu-bd {border: #d8d8d8 1px solid;padding: 10px; padding-top: 0px;width: 304px;overflow: hidden; top: 17px; left: 0px; z-index:900}

#site-nav .sites .menu-bd{width:310px;}
#site-nav .sites .menu-bd a{color:#057BD2}
#site-nav .iwantbuy .menu-bd{width:82px;}
#site-nav .seller-center .menu-hd{ width:48px;}
#site-nav .seller-center .menu-bd{ width: 94px; line-height:1.7;}
#site-nav .seller-center .menu-bd-panel{padding: 8px 10px;}

#site-nav .shoptop a{color:#666;}
#site-nav .shoptop a:hover{color:#f33100; text-decoration:none}

#site-nav .sites .eject-box{width: 310px;z-index:10;}
#site-nav .sites .eject-box .login-status{padding: 6px 6px 6px 9px;border-bottom: 1px solid #EEE;line-height: 25px;overflow: hidden;zoom: 1;}
#site-nav .sites .eject-box  .member-nav-list{width: 310px;margin: 5px 0;overflow: hidden}
#site-nav .sites .eject-box  .member-nav-list .ls{width: 134px;padding: 0 10px;float:left;border-right: 1px solid #F1F1F1;}
#site-nav .sites .eject-box  .member-nav-list .ls li{ background:none}
#site-nav .sites .eject-box  .member-nav-list .ls li a{width:124px;display: block;overflow: hidden;padding:0 5px;text-decoration: none;color: #005EA7;}
#site-nav .sites .eject-box  .member-nav-list .ls li a:hover{background:#F5F5F5;color:#E4393C;}

#site-nav .sites .eject-box .view-list{width: 305px;padding: 8px 0 8px 5px;background: #F3F3F3;}
#site-nav .sites .eject-box .view-list ul li{padding:4px; background:none}
#site-nav .sites .eject-box .view-list ul li a:hover{border:1px solid  #E4393C;}


/* 下拉刷新 */
.infinite-template{display:none}
.infinite-more, .infinite-loading, .infinite-bottom{ height:50px; line-height:50px; text-align:center; margin-top: 20px;color: #999; font-size: 14px;}
.infinite-loading{ color:#222;}
.infinite-loading .loading{ display:inline-block;color: #999; }
.infinite-loading .loading i{background:url(../images/loading_max.gif) no-repeat center center; background-size:90% 90%; display:block; width:15px; margin-top:17.5px; margin-right:5px;}
.infinite-loading .loading i,.infinite-loading .loading em{float:left; vertical-align:middle;height:15px; font-size:14px}
.infinite-more .vline, .infinite-bottom .vline, .infinite-loading .vline{display: inline-block;border-bottom: 1px solid #e2e2e2;width: 100px;margin-bottom: 4px;}
.infinite-more .vleft, .infinite-bottom .vleft, .infinite-loading .vleft{margin-right:40px;}
.infinite-more .vright, .infinite-bottom .vright,.infinite-loading .vright{margin-left:40px;}

/************** common end ***************************************************/
