{include file="header.html"}
<div id="page-store-index">
  <div class="w-shop clearfix mt20">
    <div class="col-sub w210"> {include file="left.html"} </div>
    <div class="col-main ml10 w980">
      <div class="search-goods goods-list-shop mb10 border">
        <div class="title clearfix border-b">
          <h3 class="float-left"> {$search_name|escape} </h3>
        </div>
        <ul class="content w-full clearfix">
          <!--{foreach from=$goodslist item=goods name=fe_goods}-->
          <li class="float-left">
            <dl>
              <dt class="border"> <a href="{url route='goods/index' id=$goods.goods_id}" target="_blank"> <img class="lazyload" initial-url="{$goods.default_image|url_format}" /> </a> </dt>
              <dd class="desc mt10"> <a href="{url route='goods/index' id=$goods.goods_id}" target="_blank"> {$goods.goods_name|escape|truncate:42} </a> </dd>
              <dd class="price mt10 w-full clearfix"> <strong> {$goods.price|price_format} </strong> <em> <a href="{url route='goods/salelog' id=$goods.goods_id}" target="_blank">售出{$goods.sales|default:0} </a> &nbsp;|&nbsp; <a href="{url route='goods/comment' id=$goods.goods_id}" target="_blank">评价{$goods.comments|default:0} </a> </em> </dd>
            </dl>
          </li>
          <!--{/foreach}-->
        </ul>
      </div>
      <div class="clearfix">{include file="page.bottom.html"}</div> </div>
  </div>
</div>
{include file="footer.html"}