{include file="header.html"}
<div id="page_main" class="main-right">
  <div id="rightTop">
    <p>{$lang.deposit_manage}</p>
    <ul class="subnav">
      <li><span>{$lang.manage}</span></li>
      <li><a class="btn1" href="{url route='deposit/tradelist'}">{$lang.trade_manage}</a></li>
      <li><a class="btn1" href="{url route='deposit/drawlist'}">{$lang.withdraw_manage}</a></li>
      <li><a class="btn1" href="{url route='deposit/rechargelist'}">{$lang.recharge_manage}</a></li>
      <li><a class="btn1" href="{url route='deposit/setting'}">{$lang.system_setting}</a></li>
      <li><span>{$lang.edit}</span></li>
    </ul>
  </div>
  <div class="info">
    <form method="post">
      <table class="infoTable">
        <tr>
          <th class="paddingT15"> {$lang.account_name}:</th>
          <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" id="account" type="text" name="account" value="{$account.account|escape}" />
            <label class="field_notice">{$lang.account_invalid}</label></td>
        </tr>
        <tr>
          <th class="paddingT15"> {$lang.pay_password}:</th>
          <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="password" type="text" id="password" />
            <label class="field_notice">{$lang.note_password}</label></td>
        </tr>
        <tr>
          <th class="paddingT15"> {$lang.real_name}:</th>
          <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="real_name" type="text" id="real_name" value="{$account.real_name|escape}" />
            <label class="field_notice">{$lang.real_name_not_empty}</label></td>
        </tr>
        <tr>
          <th class="paddingT15"> {$lang.pay_status}:</th>
          <td class="paddingT15"><span class="onoff">
            <label class="cb-enable {if $account.pay_status eq 'ON' || !$account}selected{/if}">{$lang.yes}</label>
            <label class="cb-disable {if $account.pay_status eq 'OFF'}selected{/if}">{$lang.no}</label>
            <input name="pay_status" value="ON" type="radio" {if $account.pay_status eq 'ON' || !$account}checked{/if}>
            <input name="pay_status" value="OFF" type="radio" {if $account.pay_status eq 'OFF'}checked{/if}>
            </span></td>
        </tr>
        <tr>
          <th></th>
          <td class="ptb20"><input class="formbtn J_AjaxSubmit" type="submit" value="{$lang.submit}" /></td>
        </tr>
      </table>
    </form>
  </div>
</div>
{include file="footer.html"}