{include file="header.html"}
<div id="page_main" class="main-right">
  <div id="rightTop">
    <p>{$lang.msg_manage}</p>
    <ul class="subnav">
      <li><a class="btn1" href="{url route='msg/index'}">{$lang.sendlog}</a></li>
      <li><a class="btn1" href="{url route='msg/recharge'}">{$lang.msgrecharge}</a></li>
      <li><a class="btn1" href="{url route='msg/user'}">{$lang.msguser}</a></li>
      <li><span>{$lang.addmsg}</span></li>
      <li><a class="btn1" href="{url route='msg/template'}">{$lang.msgtemplate}</a></li>
      <li><a class="btn1" href="{url route='msg/send'}">{$lang.sendmsg}</a></li>
    </ul>
  </div>
  <!-- 操作说明 -->
  <div class="explanation" id="explanation">
    <div class="title" id="checkZoom"> <i class="fa fa-lightbulb-o"></i>
      <h4 title="操作提示">提示</h4>
      <span id="explanationZoom" title="收起提示"></span> </div>
    <ul>
      <li>1. 为避免短信被滥用，造成不必要的损失，需要平台分配给用户一定的短信数量，用户才能使用短信功能</li>
      <li>2. 如果用户短信消耗完毕，则无法发送如：下单提醒，付款提醒等的短信</li>
    </ul>
  </div>
  <div class="info">
    <form method="post">
      <table class="infoTable">
        <tr>
          <th class="paddingT15">{$lang.username}:</th>
          <td class="paddingT15 wordSpacing5"><input name="username" type="text" value="{$user.username}" size="10">
            <label class="field_notice">{$lang.username_desc}</label></td>
        </tr>
        <tr>
          <th class="paddingT15">{$lang.num}:</th>
          <td class="paddingT15 wordSpacing5"><input name="num" type="text" size="10">
            <label class="field_notice">{$lang.num_desc}</label></td>
        </tr>
        <tr>
          <th class="paddingT15">{$lang.command}:</th>
          <td class="paddingT15 wordSpacing5"><input name="direction" id="add" type="radio" value="add" checked="checked" />
            <label for="add">{$lang.add_msg}</label>
            <input type="radio" name="direction" id="reduce" value="reduce" class="ml10" />
            <label for="reduce">{$lang.dec_msg}</label></td>
        </tr>
        <tr>
          <th class="paddingT15">{$lang.command_log}:</th>
          <td class="paddingT15 wordSpacing5"><textarea name="content">{$visitor.username}{$lang.adminmsglog}</textarea></td>
        </tr>
        <tr>
          <th></th>
          <td class="ptb20"><input class="formbtn J_AjaxSubmit" type="submit" value="{$lang.submit}" />
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
{include file="footer.html"}