{include file="header.html"}
<div id="page_main" class="main-right">
  <div id="rightTop">
    <p>{$lang.msg_manage}</p>
    <ul class="subnav">
      <li><a class="btn1" href="{url route='msg/index'}">{$lang.sendlog}</a></li>
      <li><a class="btn1" href="{url route='msg/recharge'}">{$lang.msgrecharge}</a></li>
      <li><a class="btn1" href="{url route='msg/user'}">{$lang.msguser}</a></li>
      <li><a class="btn1" href="{url route='msg/add'}">{$lang.addmsg}</a></li>
      <li><a class="btn1" href="{url route='msg/template'}">{$lang.msgtemplate}</a></li>
      <li><span>{$lang.sendmsg}</span></li>
    </ul>
  </div>
  <!-- 操作说明 -->
  <div class="explanation" id="explanation">
    <div class="title" id="checkZoom"> <i class="fa fa-lightbulb-o"></i>
      <h4 title="操作提示">提示</h4>
      <span id="explanationZoom" title="收起提示"></span> </div>
    <ul>
      <li>1. 该功能仅作为测试发送短信用</li>
      <li>2. 短信发送成功会扣除系统在第三方平台购买的短信数量，请控制测试数量</li>
    </ul>
  </div>
  <div class="info">
    <form method="post">
      <table class="infoTable">
        <tr>
          <th class="paddingT15">{$lang.receiver}:</th>
          <td class="paddingT15 wordSpacing5"><input type="text" class="text width_normal" name="receiver" value="" />
            <label class="field_notice">{$lang.receiver_text}</label></td>
        </tr>
        <tr>
          <th class="paddingT15">{$lang.content}: </th>
          <td class="paddingT15 wordSpacing5"><textarea class="text width_long" name="content"></textarea>
            <label class="field_notice">{$lang.title_desc}</label></td>
        </tr>
        <tr>
          <th></th>
          <td class="ptb20"><input class="formbtn J_AjaxSubmit" type="submit" value="{$lang.confirm_send}" />
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
{include file="footer.html"}