/*******************************  this template common css ************************



/*******************************  this template common css --------- end ************************/

/*
 *
 * 这里放置商城前天头部页面需要重写样式的代码
 *
 */

#page-layout-default-index .bar-wrap{ height:0;}
#page-layout-default-index .bar-wrap .top-bar{border-bottom:none; opacity:1; background: -webkit-linear-gradient(top,rgba(0,0,0,.7),rgba(0,0,0,0));background: linear-gradient(top,rgba(0,0,0,.7),rgba(0,0,0,0));-webkit-transition: background-color .2s linear;-moz-transition: background-color .2s linear;-o-transition: background-color .2s linear;transition: background-color .2s linear;-webkit-transform: translateZ(0);transform: translateZ(0);}
#page-layout-default-index .bar-wrap .top-bar .barbtn li a{ color:#fff; background:none; opacity:1;}
#page-layout-default-index .bar-wrap .top-bar .barbtn .curlocal-title{background:rgba(255,255,255,0.8); margin-left:0; width:100%; border-radius:20px; height:28px; line-height:28px; margin-top:4px; font-size:12px; text-align:center;}

#page-layout-default-index .bar-wrap .top-bar.leave{ background:#f7f7f7}
#page-layout-default-index .bar-wrap .top-bar.leave li a{color:#000;}
#page-layout-default-index .bar-wrap .top-bar.leave .barbtn .curlocal-title{background:rgba(0,0,0,0.05);}

#page-layout-default-index.editTmplateMode{max-width:640px;}
#page-layout-default-index.editTmplateMode .bar-wrap .top-bar{position:relative;}


#page-layout-search-index .bar-wrap .top-bar{ background:#f7f7f7; border-bottom:1px #f7f7f7 solid}
#page-layout-search-index .bar-wrap .top-bar .barbtn li a{ background:none}



/********************************* widgets fields *****************************************************************
 *
 * 这里是放置挂件样式的区域
 *
 */


.search{width:100%; background:#fff; text-align:center;padding-bottom:5px;padding-top:5px; height:54px; line-height:54px;}
.search .search-box{border:1px #ccc solid; border-radius: 30px;width:80%; margin:0 auto; height:100%;position:relative;}
.search .search-box form{width:100%;}
.search .keyword{height:32px;line-height:32px;margin-top:10px;border:0;-webkit-appearance: none; border-radius:0;font-size:20px; font-family:'yahei';border-right:1px solid #ccc;width:84%;margin-left:20px;display:block;float:left;}
.search .submit{ width: 6%;height:32px;background: url(../images/icon.png) 0 0 no-repeat;text-indent: -9999px;border:0; cursor:pointer;margin-top:2%;margin-left:2%;display:block;float:left;}
.search .ui-btn{position:absolute;right:-6px;top:-1px;}
.search .ui-input-btn input {position:none;opacity:1;}

.slides{ position:relative;width:100%;}
.slides .scroller img{width:100%;}
.slides .hd{width:100%; text-align:center; position:absolute;bottom:10px;  z-index:99}
.slides .hd li {display:inline-block;margin: 0 2px;width:7px;  height:7px;border-radius: 6px;background:#fff;overflow: hidden;color:#fff;font-size:0;}
.slides .hd li.active,.slides .hd li:hover{background:red;color:red;}

.memnus-list ul{width:100%;background:#fff;}
.memnus-list ul li{width:20%;float:left;margin-top:15px;}
.memnus-list ul li a{display:block;}
.memnus-list ul li a span{font-size:10px; margin-top:5px; display:inline-block}
.memnus-list ul li a img{max-width:36px;}
.memnus-list ul li a p{text-align:center;}




.floor .mt{height:41px;line-height:41px;text-align:center;}
.floor .mt .vline{display: inline-block;border-bottom: 1px solid;width: 34px;margin-bottom: 5px;}
.floor .mt .vleft{margin-right:6px;}
.floor .mt .vright{margin-left:6px;}

.floor .mc{overflow:hidden;width:100%;}
.floor .mc ul{margin-right:-1px;}
.floor .mc li a{display:block;border-right:1px solid transparent;}
.floor .mc li a img{display:block;max-width:100%;}



/********************************* widgets fields end *****************************************************************/
